<h1>WordGame#score</h1>
<p>Find me in app/views/word_game/score.html.erb</p>

<div class="text-center">
    <h2>Your guess</h2>
    <p><%= @query %></p>
    <p><%= @included %></p>
    <p><%= @start_time %></p>
    <p><%= @end_time %></p>
    <p><%= @time_taken %></p>
    <p><%= @compute_score %></p>
    <p><%= @run_game %></p>
    <p><%= @english_word %></p>
    <p><%= @score_and_message %></p>
</div>
